<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
   
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="image/about.jpg" alt="images" class="img-fluid" title="Gaurav Patel">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="text_clr"> Mern Stack Developer</span> And Full Stack Developer</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                    <!-- end left side div -->
                    

                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
       {{>footer}}

</body>

</html>